body {
    font-family: Arial, sans-serif;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 30px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .h1 {
    margin: 0;
}

.header-buttons {
    display: flex;
    justify-content: flex-end;
}

.header-buttons button {
    margin-left: 5;
} 

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
}

.logout-button {
    border: 1px solid #333;
    background-color: transparent;
    color: #333;
    padding: 10px 20px;
    text-decoration: none;
    cursor: pointer;
}


caption {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: #333;
    padding: 10px;
}

.car-table {
    width: 100%;
    border-collapse: collapse;
}

.car-table th, .car-table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.car-table th {
    background-color: #333;
    color: #fff;
}

.car-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.car-table a {
    color: #007bff;
    text-decoration: none;
}


.create-listing-button {
    display: flex;
    justify-content: flex-end;
    margin-left: 5;
    margin-top: 20px;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
}
