
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    height: 100vh;
}
.columns {
    display: flex;
    gap: 10vw;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.left-column, .right-column {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-width: 500px;
    margin: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.boilerplate {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
}


.description {
    max-width: 600px;
}

h2 {
    margin-left: 20px;
    font-size: 20px;
    color: #333;
    margin-bottom: 20px;
    text-align: left;
}

p {
    margin-left: 20px;
}

form {
    margin-top: 20px;
    margin-left: 20px;
}

input.form-control {
    width: 90%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
}

button.btn-primary {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.alert{
    color: red;
}